# Python temporary files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables (secrets)
.env

# VS Code settings
.vscode/

# Frontend junk
node_modules/
.next/
out/
build/
.env.local